<%= form_for(@movie) do |f| %>
	<% if @movie.errors.any? %>
		<div class="panel">
			<ul>
				<% @movie.errors.full_messages.each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :titel %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :titel %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :rating %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :rating %>
		</div>
	</div>
		
	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :total_gross %>
		</div>
		<div class="medium-10 columns">
			<%= f.number_field :total_gross %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :release %>
		</div>
		<div class="medium-10 columns">
			<%= f.datetime_select :release %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :description %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :description %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :poster_image_file %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :poster_image_file %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :cast %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :cast %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :director %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :director %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.label :duration %>
		</div>
		<div class="medium-10 columns">
			<%= f.text_field :duration %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<%= f.submit %>
		</div>
		<div class="medium-10 columns">
			
		</div>
	</div>
<% end %>