<!-- <h1><%= ein_mehrzahl %></h1> -->
<h1><%= "Es #{pluralize(@movies.count, "Movie")} vorhanden" %></h1>
<%= link_to "Neuen Film einstellen", new_movie_path %></br>
<span class="label"><%= flash[:notice] %></span>
<table>
	<tr>
		<th>Titel</th>
		<th>Rating</th>
		<th>Umsatz</th>
		<th>Release</th>
		<th>Beschreibung</th>
		<th>Details</th>
		<th>Bearbeiten</th>
		<th>Löschen</th>
	</tr>
	<% @movies.each do |movie| %>
	<tr>
		<td><%= movie.titel %></td>
		<td><%= movie.rating %></td>
		<td><%= top_or_flop(movie) %></td>
		<td><%= movie.release %></td>
		<td><%= text_verkürzt(movie) %></td>
		<td><%= link_to "Details", movie_path(movie.id) %></td>
		<td><%= link_to "Bearbeiten", edit_movie_path(movie.id) %></td>
		<td><%= link_to "Löschen", movie_path(movie.id), method: :delete, data: {confirm: "Sicher"} %></td>
	</tr>
	<% end %>
</table>