<h1><%= @movie.titel %></h1></br>
<span class="label"><%= flash[:notice] %></span>
<div class="panel">
	<div class="row">
		<div class="medium-2 columns">
			Bewertung:
		</div>
		<div class="medium-10 columns">
			<%= @movie.rating %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			Einnahmen:
		</div>
		<div class="medium-10 columns">
			<%= top_or_flop(@movie) %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			Release:
		</div>
		<div class="medium-10 columns">
			<%= @movie.release %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			Beschreibung:
		</div>
		<div class="medium-10 columns">
			<%= text_verkürzt(@movie) %>
		</div>
	</div>
</div>

<p><%= link_to "Reviews anzeigen", movie_reviews_path(@movie.id), :class => "button round" %></p>

<p><%= link_to "Zurück", movies_path, :class => "button round" %></p>