<h1>Movies</h1>

<p>Diverse Movies</p>

<table>
<% @movies.each do |movie| %>
	<tr>
		
		<td>
		
			<%=	movie.title	%>
		
		</td>
	
		<td>
			<%= movie.rating %>

		</td>
	
		<td>
			<%= movie.total_gross %>

		</td>
		<td>
			<%= movie.description %>

		</td>
		<td>
			<%= movie.released_on %>

		</td>
	</tr>


<% end %>

</table>